<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Charly García</h1>
    <p>Carlos Alberto García (Buenos Aires, 23 de octubre de 1951), mejor conocido por su nombre artístico Charly García, y también por el menos usado Casandra Lange,1​ es un cantautor, vocalista, multinstrumentista, y productor discográfico argentino.6​ Es considerado una de las figuras más importantes e influyentes en la historia de la música popular argentina y latinoaméricana.</p>
    <img src="foto.jpg" alt="">
</body>
</html>